# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Unnecessary Visual Studio Files
#*.suo
*.pdb
*.ipch
*.vcxproj.user
*Debug/
*.opensdf

# LaTex files
*.aux
*.toc
*.aut
*.gz
*.out
*main_Ideen.log